body {
    font-family: "Poppins", sans-serif;
    background: #f4f7f9;
    margin: 0;
    padding: 0;
    color: #2c2c2c;
}

header {
    text-align: center;
    padding: 30px;
    background: #005f73;
    color: white;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 4px solid white;
}

h1 {
    font-size: 2.2rem;
    margin: 10px 0;
}

nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 20px;
}

nav a:hover {
    background: white;
    color: #005f73;
}

section {
    max-width: 850px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
}

h2 {
    border-bottom: 3px solid #005f73;
    padding-bottom: 5px;
}

.job {
    margin-bottom: 25px;
}

.skills li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    color: white;
    background: #005f73;
    margin-top: 40px;
}
